body {
  font-family: sans-serif;
  margin: 0;
}

#root {
  width: 100vw;
  height: 100vh;
}

input[type='button'] {
  background: #373737;
  color: #fff;
  padding: 0.25rem 0.5rem;
  border: none;
  border-radius: 0.25rem;
}

.control-form-container {
  position: absolute;
  top: 0;
  right: 0;
}

.control-form {
  background: #fff;
  font-size: 0.9rem;
  color: #0f0f0f;
  padding: 1rem;
  border-radius: 0 0 0 0.2rem;
  transition: 0.2s ease opacity;
}

.control-form:not(:hover) {
  opacity: 0.25;
}

.control-form .control {
  display: flex;
  justify-content: center;
}

.control-form .control label {
  width: 10rem;
  text-align: right;
  padding-right: 1rem;
  margin-right: 1rem;
  border-right: 1px solid #d3d3d3;
}

.control-form .control:not(:first-child) {
  margin-top: 1rem;
}
